@font-face {
  font-family: 'icomoon';
  src:  url('./icomoon.eot?25o0ao');
  src:  url('./icomoon.eot?25o0ao#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?25o0ao') format('truetype'),
    url('./icomoon.woff?25o0ao') format('woff'),
    url('./icomoon.svg?25o0ao#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e907";
}
.icon-telegram:before {
  content: "\e900";
}
.icon-times-circle:before {
  content: "\e90b";
}
.icon-plus-circle:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-vk:before {
  content: "\e903";
}
.icon-cloud:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-slash:before {
  content: "\e908";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-navbar-toggler:before {
  content: "\e90d";
}
